.App {
    text-align: left;
    font-family: sans-serif;
}

.App-header {
    background-color: bisque;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: #143b47;
}

header * {
    margin-left: 20px;
}

li,
p {
    color: #0a87ae;
}

p {
    font-size: 120%;
}
