.addPlayer {
    margin: 2rem auto;
    border: solid 1px black;
    color: black;
    padding: 2rem;
}
.error {
    color: red;
}

.submit {
    background-color: green;
    color: white;
    margin: 1rem 0 1rem auto;
    padding: 2px 50px;
    width: 20rem;
}

form {
    margin: 3px 3px 3px 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

input {
    flex-grow: 1;
}

select {
    flex: 1;
}

.formInput {
    margin-bottom: 1.5rem;
    display: flex;
}

.formInput label {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.formInput label p {
    margin: 0;
    width: 15rem;
}

label {
    margin-right: 1rem;
}

h2 {
    font-size: 150%;
    margin: 0;
}
