.App {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-image: url("/public/nana-smirnova-IEiAmhXehwE-unsplash.jpg");
    background-color: lightcyan;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
