.App {
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: lightgray;
    height: 100%;
}

NavLink:active {
    color: steelblue;
    font-weight: bold;
}

NavLink:visited {
    color: steelblue;
}

body {
    background-color: lightgray;
}
