.App {
    text-align: center;
    background-color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: calc(10px + 2vmin);
    color: gray;
}

.tabNames {
    display: flex;
}

.tabNames * {
    background-color: cornflowerblue;
    color: darkslategray;
    font-weight: bold;
    margin: 20px;
    padding: 20px 30px;
    width: 150px;
    border-radius: 5px;
}

.tabBlurbs {
    width: 610px;
    height: 150px;
    margin-left: -100px;
}

.tabBlurbs * {
    border: 2px cornflowerblue solid;
    border-radius: 5px;
    width: 610px;
    height: 150px;
    padding: 50px;
    text-align: justify;
    animation-duration: 1s;
    animation-name: fadein;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes */
