.App {
    text-align: left;
    background-color: lemonchiffon;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 150%;
    color: slategray;
    width: 450px;
    height: 600px;
    margin: auto;
    border: slategray 2px solid;
    border-radius: 5px;
    padding: 10px;
}

.inputField {
    margin: 15px 10px;
    display: flex;
}

.flex1 {
    flex: 1;
}
input {
    margin-left: 10px;
}
